* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E59B;
}

/* navbar start */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 1.5rem;
    color: #403F2B;
}

.navbar p {
    cursor: pointer;
}

/* navbar end */

/* menu section start */

.menu {
    display: flex;
    justify-content: center;
    gap: 350px;
    color: #403F2B;
}

.menuopt {
    line-height: 1.25;
}

.menuopt p {
    font-size: 5rem;
    cursor: pointer;
}

.menuopt p:hover {
    opacity: .7;
}

.menuopts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menuopts .menuhead {
    font-size: 1.25rem;
}

.menuopts .menusec {
    font-size: 2rem;
    line-height: 2;
}

.menusec p {
    cursor: pointer;
}


/* menu section end */