* {
    margin: 0;
    padding: 0;
}

/* navbar start */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-size: 1.5rem;
    color: #403F2B;
}

.navbar p {
    cursor: pointer;
}

/* navbar end */

/* hero section start */

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: 100%;
}

.hero .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.1;
}

.text h1 {
    font-size: 20rem;
    color: #FFFDC3;
}

.text p {
    font-size: 2.15rem;
    font-weight: 900;
}

.text button {
    width: 130px;
    height: 43px;
    border: none;
    border-radius: 50px;
    font-size: 1.05rem;
    cursor: pointer;
    transition: .5s;
}

.text button:hover {
    background-color: #403F2B;
    color: white;
    transition: .5s;
}

.text .herotxt {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    color: white;
}

/* hero section end */

/* card section start */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 798px;
    color: #403F2B;
}

.cardtext p {
    font-size: 2.25rem;
}

.card .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    text-align: center;
}

.cardimg {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cardimg img {
    border: none;
    border-radius: 25px;
}

.cardimg p {
    font-size: 1.25rem;
    line-height: 2;
}

/* card section end */

/* content section start */

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 615px;
    background-color: #C4C197;
}

.contenttext {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contenttext h1 {
    font-size: 4rem;
    color: #403F2B;
}

.contenttext p {
    font-size: 1.5rem;
    color: #403F2B;
}

.contentimg img {
    border: none;
    border-radius: 25px;
}

.contenttext button {
    width: 130px;
    height: 43px;
    font-size: 1.05rem;
    border: none;
    border-radius: 50px;
    background-color: #403F2B;
    color: #DDDDCC;
    transition: .5s;
    cursor: pointer;
}

.contenttext button:hover {
    background-color: transparent;
    color: #403F2B;
    border: 1px solid #403F2B;
    transition: .5s;
}

/* content section end */

/* collection section start */

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 713px;
    gap: 35px;
}

.collntext h1 {
    font-size: 2.25rem;
    color: #403F2B;
}

.collection .collnimg {
    display: flex;
    gap: 45px;
}

.colln {
    width: 540px;
    height: 540px;
    position: relative;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.colln img {
    transition: 1s;
}

.colln img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.collntxt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 285px;
}

.collntxt h1 {
    font-size: 4rem;
    color: #fffdc3;
}

.collntxt p {
    font-size: 1.5rem;
    color: white;
}

/* collection section end */

/* mission section start */

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 911px;
    background-color: #DDDDCC;
    color: #403F2B;
    text-align: center;
}

.mssntxt {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mssntxt h1 {
    font-size: 4.15rem;
}

.mssntxt p {
    font-size: 1.5rem;
}

.mssnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.mssnicon p {
    font-size: 1.15rem;
}

.mssnbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.mssnbtn p {
    font-size: 1.05rem;
}

.mssnbtn button {
    border: none;
    border-radius: 25px;
    background-color: #403F2B;
    color: white;
    font-size: 1.05rem;
    width: 130px;
    height: 43px;
    cursor: pointer;
    transition: .5s;
}

.mssnbtn button:hover {
    background-color: transparent;
    border: 1px solid #403F2B;
    color: #403F2B;
    transition: .5s;
}

/* mission section end */

/* slider section start */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 599px;
    background-color: #E8E59B;
}

.slidertxt {
    text-align: center;
}

.slidertxt .p1 {
    font-size: 2rem;
}

.slidertxt .p2 {
    font-size: 4rem;
}

.slidercard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sliderimg {
    position: relative;
    cursor: pointer;
}

.sliderimg img {
    display: block;
    width: 324px;
    border-radius: 25px;
}

.flowtxt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background-color: #403F2B;
    border-radius: 25px;
}

.sliderimg:hover .flowtxt {
    opacity: 1;
}

.flowtxt p {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* slider section end */

/* info section start */

.info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 450px;
    background-color: #E8E59B;
    padding: 50px 150px;
    color: #403F2B;
}

.infohead {
    font-size: 3.15rem;
}

.infodetail {
    display: flex;
    justify-content: space-between;
}

.infopara p {
    font-size: 1.5rem;
}

.infopara {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoinput{
    display: flex;
    justify-content: space-between;
}

.infoinput label {
    font-size: 1.25rem;
}

.infoinput input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #403F2B;
    width: 400px;
    box-sizing: border-box;
    width: 180%;
    outline: none;
}

.infoinput input:hover {
    background-color: transparent;
    border-bottom: 2px solid #403F2B;
}

.infoinput button {
    width: 130px;
    height: 43px;
    border-radius: 25px;
    color: #403F2B;
    border: 1px solid #403F2B;
    background-color: transparent;
    font-size: 1.05rem;
    cursor: pointer;
}

.infoinput button:hover {
    opacity: .7;
    transition: .5s;
}

.infomenu {
    display: flex;
    gap: 50px;
}

.menutxt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menutxt p {
    font-size: 1.25rem;
    cursor: pointer;
}

/* info section end */